---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'RushType — Automate text expansion without clicks, making your work more efficient',
  ignoreTitleTemplate: true,
};

const extensionURL = 'https://chromewebstore.google.com/detail/rushtype/mdiaogojdgljpfapolbgdlflobbagned';
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Add to Chrome',
        href: extensionURL,
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Boost your <span class="text-accent dark:text-white highlight">productivity</span> with just a few keystrokes
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">RushType</span> is a browser extension that works on any website, allowing you to customize
        and use text snippets. Save time and type faster anywhere!
      </span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with RushType"
    items={[
      {
        title: 'Works on any website',
        description: 'You can use it across all your favorite platforms.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Customizable Templates',
        description: 'Create and manage your own text templates to streamline repetitive typing tasks.',
        icon: 'tabler:components',
      },
      {
        title: 'Google Sheets integration',
        description: 'Import your data directly from Google Sheets for easy management.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Smart Trigger Words',
        description: 'Set custom trigger words that automatically expand into full phrases or sentences when typed.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get started with RushType."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Add to your browser</span>',
        description: `Install the RushType extension from the <a class="link underline" target="_blank" href=${extensionURL}>Chrome Web Store</a> to get started.`,
        icon: 'tabler:download',
      },
      {
        title: 'Step 2: <span class="font-medium">Create Your First Snippet</span>',
        description: 'Create a custom text snippet and save it for future use.',
        icon: 'tabler:edit',
      },
      {
        title: 'Step 3: <span class="font-medium">Use Your Trigger Word</span>',
        description: 'Type your custom trigger word anywhere on any website to instantly expand your snippet.',
        icon: 'tabler:keyboard',
      },
      {
        title: 'Enjoy!',
        icon: 'tabler:mood-smile',
      },
    ]}
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Add to Chrome',
        href: extensionURL,
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Boost your&nbsp;<span class="font-medium">productivity</span> now
    </Fragment>

    <Fragment slot="subtitle">
      Save time and type faster on any website. <br class="hidden md:inline" />Start using RushType now!
    </Fragment>
  </CallToAction>
</Layout>
